h1 {
    font-size: 80px;
    font-weight: 620;
}

.start {
    padding: 16px 30px 16px 30px;
    border-radius: 7px;
    font-size: 12px;
    margin-bottom: 40px;
}

.title {
    width: 70%;
    line-height: 80px;
    margin-bottom: 20px;
}

.body img {
    width: 30%;
}

.imgs {
    display: flex;
}

.button-overlay {
    position: relative;
    display: inline-block;
    width: 30%;
}

.button-overlay img {
    width: 100%;
}
.button-overlay div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0052FF;
}

.button-overlay p{
    color: white;
    padding-left: 10%;
    font-weight: 500;
}


.overlay {
    padding: 6% 0px 6% 0px;
    width: 100%;
    text-align: left;
    transition: background-color 0.5s;
}

.overlay:hover {
    background: mediumblue;
    cursor: pointer;
}