.navlist button {
  padding: 12px 30px 12px 30px;
  border-radius: 50px;
  font-size: 12px;
}

.navlist li {
  padding: 0px 20px 0px 20px;
  color: #9A9EA6;
}

.navlist {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlist-left {
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 0px !important;
  font-size: 20px;
  font-weight: bold;
  color: black !important;
}
